*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Poppins",sans-serif;
}

.navbar{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1% 3%;
        z-index: 0%;
}
.navbar_netflix{
    width: 125px;   
    height: 100%;
}
.navbar_nav_items{
    display: flex;
    gap: 10px;
}
.netflix_logo{
    height: 120%;
    width: 120%;
    position: relative ; left: 2px; top:0px ;
}

.language_dropdown{
    background: transparent;
    border: none;
    color: white;
}

.Dropdown_container{
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

.singin_button{
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    padding: 0.5rem,0.5rem;
    border-radius: 4px;
    height: 30px;
    width: 90px;
}

.hero_bg_image_container{
    height: 100%;
    width: 100%;
}

.hero_bg_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero_bg_overlay{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4)  ;
}

.hero_card{
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.hero_title{
    font-weight: 600;
    font-size: 3rem;
}
.hero_subtitle,
.hero_description{
    font-weight: 400;
    font-size: 1.3rem ;
}
.email{
    height: 60px;
    width: 450px;
    color: black;
    padding: 0.25rem,0.5rem;
    border-radius: 3px;
    border-color: white;
}
.Get_started{
    font-size: large;
    width: 170px;
    height: 60px;
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
}

.card_1,
.card_2,
.card_3{
    border-top: 15px rgb(69,69,69);
    padding: 100px;
}

.card_1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc_1{
    padding-left: 80px;
}

.card_1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card_1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}

.style_cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style_cards h3{
    font-size: 1.3rem;
    line-height:2rem;
}

.card_2{
    position:relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;

}

.discription{
    padding-left: 10%;
}

    .card_3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc_3{
    padding-left: 80px;
    padding-right: 20px;
}

.card_3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card_3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column:2/2 ;
    grid-row: 1/2;
    z-index: -1;
}

.footer , footer a{
    color: gray;
    font-size: 0.9rem;      
}
.footer p{
    margin-bottom: 1.5 rem;
    padding-left: 50px;
}

.footer .foot-col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    padding-left: 50px;
}

.footer li{
    line-height: 1.9;
}